html, body {
    margin: 0;
    padding: 10px;
    font-family: "Manrope", sans-serif; 
}

body {
    background-color: rgba(23, 156, 23, 0.555);
}


.container {
    width: 400px;
    height: 450px;
    border: solid 3px rgb(150, 146, 146);
    background:white;
    margin: 30px auto;
    text-align: center;
    
}

#start {
    font-family: "Tajawal", sans-serif;
    font-size: 15px;
    padding: 5px;
    border-style: dashed;
    border-color: white; 
    background-color:lightgray;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}

#start:hover {
    background: rgb(47, 75, 4);
    
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: lightgray;
}

.square {
    width: 20px;
    height: 20px;
 
}

.snake {
    background: rgb(196, 133, 18);

}

.apple {
    background:rgb(231, 6, 6);

}