html, body {
    margin: 0;
    font-family: "Manrope", sans-serif; 
}

body {
    background-color: rgba(224, 240, 224, 0.555);
}


.container {
    width: 50%;
    height: 50%;
    border: solid 0.3em rgba(139, 124, 56, 0.774);
    background:white;
    margin: 3em auto;
    text-align: center;
    
}

#start {
    font-family: "Tajawal", sans-serif;
    font-size: .855rem;
    padding: 0.5em;
    border: none;
    border-color: white; 
    background-image: linear-gradient(to left, rgb(39, 77, 18), rgb(197, 51, 51));
    color: rgb(233, 230, 230);
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transform: scale(1);
    transition: transform 200ms;
    
}

#start:hover,
#start:focus {
    background:rgb(150, 146, 146);
    transform: scale(1.1);
    
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: 0.2em solid rgba(139, 124, 56, 0.774);
    margin: 10px auto;
    background-color: lightgray;
}

.square {
    width: 20px;
    height: 20px;
 
}

.snake {
    background:  rgba(62, 224, 62, 0.555);
    border: dotted 0.1em rgba(23, 156, 23, 0.555);
    box-sizing: border-box;
    
}

.apple {
    background: red;
    border: solid 0.1em rgba(243, 247, 243, 0.966);
    border-radius: 50%;
    box-sizing: border-box;

}