html, body {
    margin: 0;
    padding: 0.1em;
    font-family: "Manrope", sans-serif; 
}

body {
    background-color: rgba(23, 156, 23, 0.555);
}


.container {
    width: 50%;
    height: 50%;
    border: solid 0.3em rgb(150, 146, 146);
    background:white;
    margin: 3em auto;
    text-align: center;
    
}

#start {
    font-family: "Tajawal", sans-serif;
    font-size: 1rem;
    padding: 0.5em;
    border-style: dashed;
    border-color: white; 
    background-color:lightgray;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}

#start:hover {
    background: rgb(47, 75, 4);
    
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: 0.2em solid black;
    margin: 10px auto;
    background-color: lightgray;
}

.square {
    width: 20px;
    height: 20px;
 
}

.snake {
    background:  rgba(62, 224, 62, 0.555);
    border: dotted 0.1em rgba(23, 156, 23, 0.555);
    box-sizing: border-box;
    
}

.apple {
    background: red;
    border: solid 0.1em rgba(25, 212, 25, 0.555);
    box-sizing: border-box;

}